/* Sidebar */
.sidebar {
    background-color: #f1f1f1;
    width: 60%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-section {
    text-align: center;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .welcome-text {
    font-size: 1.2em;
    color: #333;
  }
  
  .nav-links {
    margin-top: 20px;
    width: 100%;
  }
  
  .nav-button {
    width: 100%;
    padding: 9px;
    margin-bottom: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
  }
  
  .nav-button.active {
    background-color: #4caf50;
    color: #fff;
  }
  
  .nav-button.logout {
    margin-top: auto;
    background-color: #ff4d4d;
    color: #fff;
  }
  
  /* Main Content */
  .transactions-main {
    width: 80%;
    padding: 20px;
  }
  
  .transactions-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .transactions-table th,
  .transactions-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .transactions-table th {
    background-color: #4caf50;
    color: white;
  }
  
  .add-transaction-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .add-transaction-button .plus-icon {
    font-size: 1.2em;
    margin-left: 5px;
  }
  
  /* Chart Section */
  .transactions-chart {
    margin-top: 100px;
    width: 500px; ;
  }
  
  .chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .bar {
    width: 11%;
    background-color: #4caf50;
    text-align: center;
    color: white;
    position: relative; /* Needed for label positioning */
    
  }
  
  .bar::after {
    content: attr(data-label); /* Display the label text */
    position: absolute;
    bottom: 10px; /* Position below the bar */
    left: 135%;
    transform: translateX(-50%) rotate(-90deg); /* Rotate text vertically */
    transform-origin: bottom left; /* Adjust rotation origin */
    font-size: 1em;
    font-weight: bold;
    color: black;
  }
  