/* Settings Page Styles */
.settings-container {
    width: 100%;
    padding: 30px 50px;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  /* Main Content */
  .settings-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  /* Section Title */
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--title-color);
  }
  
  /* Input Groups */
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 1rem;
    color: var(--text-color);
  }
  
  .input-group input,
  .input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--input-bg);
  }
  
  input::placeholder {
    color: var(--placeholder-color);
  }
  
  /* Buttons */
  button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .delete-account-btn {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .edit-profile-pic-btn {
    background-color: var(--button-bg);
    color: var(--button-text);
  }
  
  .delete-account-btn:hover {
    background-color: #c0392b;
  }
  
  /* Profile Picture */
  .profile-pic-preview {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .profile-preview-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Theme Customization */
  .theme-options {
    display: flex;
    gap: 10px;
  }
  
  .theme-button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent;
    background-color: var(--button-bg);
    color: var(--text-color);
  }
  
  .theme-button.active,
  .theme-button:hover {
    border-color: var(--accent-color);
    background-color: var(--button-hover-bg);
    color: #fff;
  }
  
  /* Dynamic Theme Variables */
  :root {
    /* Light Theme */
    --bg-color: #ffffff;
    --text-color: #333333;
    --title-color: #28a745;
    --button-bg: #f0f0f0;
    --button-text: #333333;
    --button-hover-bg: #28a745;
    --accent-color: #28a745;
    --input-bg: #ffffff;
    --placeholder-color: #aaa;
  }
  
  body.dark {
    /* Dark Theme */
    --bg-color: #121212;
    --text-color: #ffffff;
    --title-color: #82e77f;
    --button-bg: #333333;
    --button-text: #ffffff;
    --button-hover-bg: #28a745;
    --accent-color: #82e77f;
    --input-bg: #333333;
    --placeholder-color: #555;
  }
  .password-toggle-icon {
    position: absolute;
    top: 50.9%;
    right: 459px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #2e7d32;
  }
  